@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Condensed&family=UnifrakturCook:wght@700&display=swap');

// font-family: 'Parisienne', cursive;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'UnifrakturCook', cursive;
body{
    background-color: #1b1b1b;
}

.scoreboard{
  

    h1{
        font-family: 'UnifrakturCook', cursive;
        font-size: 56px;
        color: #AD7D00;
    }

    h3{
        font-family: 'Parisienne', cursive;
        font-size: 44px;
        color: #AD7D00;
    }

    h5{
        font-family: 'Roboto Condensed', sans-serif;
        color:  #480707;
        font-size: 44px;
    }

    
}