@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Condensed&family=UnifrakturCook:wght@700&display=swap');

// font-family: 'Parisienne', cursive;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'UnifrakturCook', cursive;

.win{
    h1{
        font-family: 'UnifrakturCook', cursive;
        color: #AD7D00;
    }

    h3{
        font-family: 'Parisienne', cursive;
        color: #AD7D00;
    }

    button {
        background-color: #480707;
        color: #AD7D00;
        border: 2px solid #AD7D00;
        margin: 30px;
        
        padding: 10px 10px;
        font-family: 'Parisienne', cursive;
        font-size: 24px;
    }
}