.artgallery {
    margin: auto;
    margin-bottom: 200px;
    .game-screen {
        .background{
            background-image: url('blob:https://imgur.com/67677fa4-3110-4dd3-bd30-f09439c1464b');
        }
    }
}