.grandhall {
    margin: auto;
    margin-bottom: 200px;
    .game-screen {
        .background{
            background-image: url('https://i.imgur.com/zGaqOl6.jpg');
        }
        .text-box {
            .nav-buttons{
                border-style: solid;
                border-color: white;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                height: fit-content;
                padding: 10px;
                .dropdown {
                    .bottom-start {
                        a {
                            button {
                                color: red;
                            }
                        }
                    }
                }
            }
            
        }
    }
}