.room {
    .game-screen {
        .character-panel {
            
            background-color: slategray;
            height: 50px;
            display: flex;
            align-content: flex-start;
            
            .character {
                border-style: inset;
                border-width: 3px;
                border-color: darkslategray;
                background-image: url('https://i.imgur.com/pNOztsH.png'), linear-gradient(to top, rgb(12, 0, 0), rgb(133, 21, 1));
                background-repeat: no-repeat;
                
                background-position: center;
                background-size: contain;
                height: 85%;
                margin: 1px;
                width: 45px;
            }
            .health {
                    border-style: inset;
                    border-width: 3px;
                    border-color: darkslategray;
                    margin: 1px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: fit-content;
                .health-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url('https://i.imgur.com/h3XRk8Y.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 40px;
                    height: 40px;
                }
                .health-number {
                    font-weight: bold;
                }
                .madness-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url('https://i.imgur.com/VzAhSzY.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    height: 40px;
                    width: 40px;
                }
                .madness-number {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }
        }
        
    }
}
@media screen and (min-width: 426px) {
    .room{
        .game-screen{
            .character-panel {
                height: 100px;
                .character {
                    margin: 5px;
                    width: 95px;
                    
                }
                .health {
                    margin: 5px;
                    .health-icon {
                        width:85px;
                        height: 90%;
                    }
                    .health-number {
                        font-size: 25px;
                    }
                    .madness-icon {
                        width: 100px;
                        height: 95%;
                    }
                    .madness-number {
                        font-size: 25px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}