.game-screen {
    border-style: ridge;
    border-width: 3px;
    border-radius: 8px;
    border-color: goldenrod;
    background-color: gray;
    margin: auto;
    width: 92%;
    max-width: 600px;

    .background {
        border-style: ridge;
        border-width: 5px;
        border-color: goldenrod;
        border-radius: 5px;
        max-height: 600px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .graphic {
            display: flex;
            margin: auto;
            color: green;
            height: 300px;
            width: 100%;
            img {
                margin: auto;
                width: 40%;
            }  
        }
    }
    .text-box {
        // border-style: ridge;
        border-width: 5px;
        border-color: goldenrod;
        background-color: rgb(17, 17, 17);
        color: white;
        margin: auto;
        padding: 5px;
        // display: block;
        // width: 100%;
        p {
            font-size: 14px;
        }
    }
}
@media screen and (min-width: 426px) {
    .game-screen{
        .background {
            .graphic {
                height: 600px;
            }
        }
        .text-box{
            padding: 10px;
        }
    }
}