.game-screen {
    border-style: ridge;
    border-width: 3px;
    border-radius: 8px;
    border-color: goldenrod;
    background-color: gray;
    margin: auto;
    width: 92%;
    max-width: 600px;

    .background {
        border-style: ridge;
        border-width: 5px;
        border-color: goldenrod;
        border-radius: 5px;
        max-height: 600px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .header {
            display: flex;
            justify-content: space-between;
        }
        h1 {
            border-style: ridge;
            border-width: 3px;
            border-color: goldenrod;
            min-width: 100px;
            padding: 10px;
            margin: 5px;
            background-color: black;
            color: white;
            font-size: 15px;
            border-radius: 10px;
        }
        .graphic {
            display: flex;
            margin: auto;
            height: 300px;
            width: 100%;
            img {
                margin: auto;
                height: 60%;
            }  
        }
    }
    .text-box {
        border-top-style: ridge;
        border-top-width: 5px;
        border-color: goldenrod;
        background-color: rgb(17, 17, 17);
        color: white;
        margin: auto;
        padding: 5px;
        // display: flex;
        justify-content: space-evenly;
        // width: 100%;
        a {
            display: flex;
        }
        p {
            font-size: 14px;
        }
        .nav-buttons  {
            border-style: ridge;
            border-color:goldenrod;
            border-radius: 5px;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            height: fit-content;
            width: 200px;
            padding: 10px;
            button {

            }
        }
    }
}
@media screen and (min-width: 426px) {
    .game-screen{
        .background {
            .graphic {
                height: 600px;
                img {
                    height: 50%;
                }
            }
            h1 {
                margin: 10px;
                font-size: 25px;
            }
        }
        .text-box{
            padding: 10px;
        }
    }
}