.inventory {
    .dropdown {
        display: flex;
        .dropdown-toggle {
            font-weight: bolder;
            width: 80px;
            height: 30px;
            border-style: none;
            border-bottom-right-radius: 20px;
            background-color: goldenrod;
        }
        .dropdown-menu {
            button {
                background-color: green;
                position: fixed;
                top: 0;
                left: 0;
            }
            a {
                background-color: gray;
                display: flex;
                padding: 5px;
            }
        } 
    }
}